huggingface_hub==0.23.4
transformers==4.42.3
fastapi==0.111.0
torch== 2.3.1+cu121
einops==0.8.0
langchain_huggingface==0.0.3
bitsandbytes==0.43.1
accelerate==0.32.1
langchain_community==0.2.7
pypdf==4.2.0
faiss-cpu==1.8.0.post1
